@import "bootstrap";
@import "font-awesome";

.nav-link {
  color: black;
}
.clear {
  clear:both;
}
body {
  background-color: #ece8e8;
  font-family: 'Josefin Sans', sans-serif;
}
::selection {
  background-color: #125688;
  color: whitesmoke	;
}
.top-nav {
  background-color: whitesmoke;
  border-bottom-color: #4db9b9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 100;
  border-radius: 25px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 4px;
}
.top-nav .add {
  margin-top: 10px;
}
.brand {
  color: #125688;
  font-size: 10px;
  font-family: 'Pacifico', cursive;
  overflow: hidden;
}
.brand a {
  text-decoration: none;
  color: #125688;
}
.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}
.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}
.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
}
.card.form {
  padding: 2px;
}
.signed-in-as {
  text-align: center;
  color: whitesmoke;
  background-color: rgb(70,130,180);
  border: 1px solid white;
  padding: 3px;
  border-radius: 5px;
}
.edit-box {
  text-align: center;
  color: whitesmoke;
  background-color: green;
  border: 1px solid rgb(5, 253, 117);
  padding: 3px;
  border-radius: 5px;
  width: 80%;
}
.form-inputs {
  padding: 10px;
}
.form-actions {
  padding: 10px;
}
label {
  font-size: 18px;
  padding: 5px;
}
.label {
  font-size: 18px;
  padding: 5px;
}
input {
  font-size: 18px;
  font-weight: 400;
}
.post-button {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}
.post-button:hover, .post-button:focus {
  background-color: rgb(46, 46, 117);
}
.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}
.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 10px;
}
.edit {
  color: rgb(216, 216, 33);
}
.destroy {
  color: red;
}
.edit:hover, edit:focus {
  color: rgb(216, 216, 33);
}
.destroy:hover, destroy:focus {
  color: red;
}
.comments {
  padding: 20px;
}
.comment {
  font-size: 16px;
  margin-top: 5px;
  background-color: #054574;
  border-radius: 25px;
  color: white;
  padding: 10px;
}
.comment_handle {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
}
blockquote {
  margin-left: 15px;
  border-left: 2px solid white;
  padding-left: 8px;
}
.date {
  text-align: right;
}
.date-size {
  font-size: 12px;
  font-weight: bold;
}
.btn-info {
  color: white !important;
  padding:2 px !important;
  width: 65px;
  height: 30px;
}